<div class="header__top header-top">
  <div class="header-top__container container">
    <div class="header-top__content">
      <div class="header-top__logo">
        <img src="img/header/logo.svg" alt="" />
      </div>
      <div class="header-top__mail-slogan">
        <a
          class="header-top__mail"
          href="mailto:pro@peregorodkalab.ru"
          data-da=".header-top__tel-content,620,0"
          >pro@peregorodkalab.ru</a
        >
        <h2 class="header-top__clogan" data-da=".header-top__logo,620,1">
          Только лучшее из&nbsp;стекла
        </h2>
      </div>
      <div class="header-top__time-tel">
        <span
          class="header-top__work-time"
          data-da=".header-top__tel-content,620,last"
        >
          Пн-Пт с 9:30 до 17:30
        </span>
        <div class="header-top__tel">
          <button class="header-top__btn-call-us btn btn__call-us">
            <svg>
              <use xlink:href="img/iconsprite/icons.svg#call_answer"></use>
            </svg>
          </button>
          <div class="header-top__tel-content">
            <a href="tel:+78123177567" class="header-top__ref-tel"
              >+7 (812) 317-75-67</a
            >
            <button class="header-top__call-back btn btn__call-back">
              Заказать обратный звонок
            </button>
          </div>
        </div>
      </div>
      <div class="header-top__records">
        <button
          class="header-top__btn-more-info btn btn__more-info"
          data-da=".header-top__mail-slogan,620,1"
        >
          Информация
        </button>
        <ul class="header-top__documentation">
          <li class="header-top__documentation-item">
            <a href="#" class="header-top__documentation-link">Оплата</a>
          </li>
          <li class="header-top__documentation-item">
            <a href="#" class="header-top__documentation-link">Монтаж</a>
          </li>
          <li class="header-top__documentation-item">
            <a href="#" class="header-top__documentation-link">Гарантии</a>
          </li>
          <li class="header-top__documentation-item">
            <a href="#" class="header-top__documentation-link"
              >Скачать презентацию</a
            >
          </li>
        </ul>
        <div class="header-top__btns-service">
          <button
            class="header-top__btn-measurer btn btn__measurer"
            data-da=".header-top__mail-slogan,620,2"
          >
            Вызвать замерщика
          </button>
          <button
            class="header-top__btn-calc btn btn__calc"
            data-da=".header-top__mail-slogan,620,3"
          >
            <svg>
              <use xlink:href="img/iconsprite/icons.svg#calc"></use>
            </svg>
            <span>Калькулятор</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
