<div class="header__bottom header-bottom">
  <div class="header-bottom__container container">
    <div class="header-bottom__content">
      <div class="header-bottom__city-point city-point">
        <span>Санкт-Петербург</span>
      </div>
      <nav class="header-bottom__nav nav">
        <ul class="nav__list">
          <li class="nav__item"><a href="" class="nav__link">О нас</a></li>
          <li class="nav__item catalog__link">
            <a href="" class="nav__link">Перегородки</a>
            <div>
              <ul class="category-product catalog__item">
                <li class="category-product__item">
                  <a href="" class="category-product__link">Противопожарные</a>
                </li>
                <li class="category-product__item">
                  <a href="" class="category-product__link">Для офиса</a>
                </li>
                <li class="category-product__item">
                  <a href="" class="category-product__link">Стационарные</a>
                </li>
                <li class="category-product__item">
                  <a href="" class="category-product__link">Стеклянные</a>
                </li>
                <li class="category-product__item">
                  <a href="" class="category-product__link">Алюминиевые</a>
                </li>
                <li class="category-product__item">
                  <a href="" class="category-product__link">Цельностеклянные</a>
                </li>
                <li class="category-product__item">
                  <a href="" class="category-product__link">Раздвижные</a>
                </li>
                <li class="category-product__item">
                  <a href="" class="category-product__link">Лофт</a>
                </li>
                <li class="category-product__item">
                  <a href="" class="category-product__link">Smart-glass</a>
                </li>
                <li class="category-product__item">
                  <a href="" class="category-product__link">С жалюзи</a>
                </li>
                <li class="category-product__item">
                  <a href="" class="category-product__link"
                    >Раздвижные из стекла</a
                  >
                </li>
                <li class="category-product__item">
                  <a href="" class="category-product__link"
                    >Раздвижные "Гармошки"</a
                  >
                </li>
                <li class="category-product__item">
                  <a href="" class="category-product__link">Звукоизолирующие</a>
                </li>
                <li class="category-product__item">
                  <a href="" class="category-product__link"
                    >Комбинированные с ЛДСП</a
                  >
                </li>
              </ul>
            </div>
          </li>
          <li class="nav__item catalog__link">
            <a href="" class="nav__link">Двери</a>
            <ul class="category-product catalog__item">
              <li class="category-product__item">
                <a href="" class="category-product__link">Противопожарные</a>
              </li>
              <li class="category-product__item">
                <a href="" class="category-product__link">Для офиса</a>
              </li>
              <li class="category-product__item">
                <a href="" class="category-product__link">Стационарные</a>
              </li>
              <li class="category-product__item">
                <a href="" class="category-product__link">Стеклянные</a>
              </li>
              <li class="category-product__item">
                <a href="" class="category-product__link">Алюминиевые</a>
              </li>
              <li class="category-product__item">
                <a href="" class="category-product__link">Цельностеклянные</a>
              </li>
              <li class="category-product__item">
                <a href="" class="category-product__link">Раздвижные</a>
              </li>
              <li class="category-product__item">
                <a href="" class="category-product__link">Лофт</a>
              </li>
              <li class="category-product__item">
                <a href="" class="category-product__link">Smart-glass</a>
              </li>
              <li class="category-product__item">
                <a href="" class="category-product__link">С жалюзи</a>
              </li>
              <li class="category-product__item">
                <a href="" class="category-product__link"
                  >Раздвижные из стекла</a
                >
              </li>
              <li class="category-product__item">
                <a href="" class="category-product__link"
                  >Раздвижные "Гармошки"</a
                >
              </li>
              <li class="category-product__item">
                <a href="" class="category-product__link">Звукоизолирующие</a>
              </li>
              <li class="category-product__item">
                <a href="" class="category-product__link"
                  >Комбинированные с ЛДСП</a
                >
              </li>
            </ul>
          </li>
          <li class="nav__item catalog__link">
            <a href="" class="nav__link">Конструкции</a>
            <ul class="category-product catalog__item">
              <li class="category-product__item">
                <a href="" class="category-product__link">Противопожарные</a>
              </li>
              <li class="category-product__item">
                <a href="" class="category-product__link">Для офиса</a>
              </li>
              <li class="category-product__item">
                <a href="" class="category-product__link">Стационарные</a>
              </li>
              <li class="category-product__item">
                <a href="" class="category-product__link">Стеклянные</a>
              </li>
              <li class="category-product__item">
                <a href="" class="category-product__link">Алюминиевые</a>
              </li>
              <li class="category-product__item">
                <a href="" class="category-product__link">Цельностеклянные</a>
              </li>
              <li class="category-product__item">
                <a href="" class="category-product__link">Раздвижные</a>
              </li>
              <li class="category-product__item">
                <a href="" class="category-product__link">Лофт</a>
              </li>
              <li class="category-product__item">
                <a href="" class="category-product__link">Smart-glass</a>
              </li>
              <li class="category-product__item">
                <a href="" class="category-product__link">С жалюзи</a>
              </li>
              <li class="category-product__item">
                <a href="" class="category-product__link"
                  >Раздвижные из стекла</a
                >
              </li>
              <li class="category-product__item">
                <a href="" class="category-product__link"
                  >Раздвижные "Гармошки"</a
                >
              </li>
              <li class="category-product__item">
                <a href="" class="category-product__link">Звукоизолирующие</a>
              </li>
              <li class="category-product__item">
                <a href="" class="category-product__link"
                  >Комбинированные с ЛДСП</a
                >
              </li>
            </ul>
          </li>
          <li class="nav__item"><a href="" class="nav__link">Акции</a></li>
          <li class="nav__item"><a href="" class="nav__link">Цены</a></li>
          <li class="nav__item"><a href="" class="nav__link">Проекты</a></li>
          <li class="nav__item"><a href="" class="nav__link">Новости</a></li>
          <li class="nav__item"><a href="" class="nav__link">Контакты</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
